{% load static %}
<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!----======== CSS ======== -->
        <link rel="stylesheet" href="{% static 'style.css' %}">

        <!----===== Iconscout CSS ===== -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

        <title>Evaluator</title>
    </head>
    <body>
        <div class="container">
            {% block evaluation_form %}
            {% endblock %}
            {% block evaluation_result %}
            {% endblock %}
        </div>

    <script src="{% static 'script.js' %}"></script>
    </body>


</html>